<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="wrapper">
        <header>
            <a href="/" class="tech-blog-title">
                <h1>The Tech Blog</h1>
            </a>
            <nav>
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            &reg; The Tech Blog - 2021
        </footer>
    </div>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>
</html>