<div class="dashboard-header">
    <h1 class="title-format">Edit A New Blog Post</h1>
    <button type="click" class="delete-btn">Delete Blog</button>
</div>

<form class="blog-form">
    <div>
        <label for="blog-title">Enter New Blog Title:</label>
        <textarea name="blog-title" rows="1"></textarea>
    </div>
    <div>
        <label for="blog-content">Enter New Blog Content:</label>
        <textarea name="blog-content" rows="4"></textarea>
    </div>
    <div>
        <button type="submit">Update Blog</button>
    </div>
</form>

<script src="/javascript/edit-blog-post.js"></script>