{{#if posts.length}}
<div class="dashboard-header">
    <h1 class="title-format">Your Posts</h1>
    <a href="/dashboard/create"><button class="a-button">+ Add New Post</button></a>
</div>

<ol class="blog-container">
    {{#each posts as |post|}}
    <li>
        {{> single-post-small post}}
    </li>
    {{/each}}
</ol>
{{else}}
<div class="dashboard-header">
    <h1 class="title-format">Create your first post!</h1>
    <a href="/dashboard/create"><button class="a-button">+ Add New Post</button></a>
</div>
{{/if}}
