<form class="login-form">
    <div class="login-header">
        <h2>Signup</h2>
    </div>
   
    <div class="login-body">
        <div class="form-block">
            <p>
                Please enter a unique username and password to create an account with The Tech Blog. Happy Blogging!!!
            </p>  
        </div>
        <div class="form-block">
            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="Enter Username">
        </div>
        <div class="form-block">
            <label for="password">Password:</label>
            <input type="text" id="password" placeholder="Enter Password">
        </div>
        <div class="form-block login-flex">
            <button type="submit">Signup</button>
        </div>
    </div>
</form>