* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: system-ui;
    background-color: blanchedalmond;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: solid 4px darkorange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-bottom: 20px;
}

header h1{
    background-color: darkorange;
    border-radius: 8px;
    color: white;
    padding: 4px 8px;
    font-family: none;
    font-size: 300%;
}

.tech-blog-title{
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color: darkorange;
    font-weight: bold;
    font-size: 180%;
    transition: color .1s;
    margin: 0 10px;
}

nav a:hover{
    color: orangered;
}

main {
    flex: 1;
    margin: 0 6%;
}

footer {
    background-color: darkorange;
    display: flex;
    justify-content: center;
    padding: 0.5%;
    color: white;
    font-weight: bold;
    font-size: 120%;
}

ol, li {
    list-style-type: none;
}

.blog-post{
    margin: 20px;
    border: 6px solid orange;
    box-shadow: 4px 4px 4px lightgrey;
}

.blog-header{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    align-items: center;
    padding: 6px;
    text-decoration: none;
}

.blog-header h2 {
    color: white;
    background-color: orange;
    font-size: 160%;
    padding: 4px;
}

.blog-header h3 {
    color: white;
    background-color: orange;
    font-size: 100%;
    font-style: italic;
}

.blog-content{
    padding: 10px;
}

.login-form{
    margin: 20px;
    border: 6px solid orange;
    box-shadow: 4px 4px 4px lightgrey;
}

.login-header{
    background-color: orange;
    padding: 6px;
}

.login-header h2{
    color: white;
    font-size: 160%;
    padding: 4px;
}

.login-body{
    padding: 20px 10px;
}

form label{
    display: block;
    margin-bottom: 6px;
}

.form-block{
    margin-bottom: 2%;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input{
    width: 100%;
}

button {
    background-color: darkorange;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .1s;
    min-width: 200px;
    max-width: 400px;
    margin: 10px;
}

button:hover {
    background-color: orangered;
}

form a{
    font-size: 100%;
    text-decoration: none;
    color: darkorange;
    font-weight: bold;
    transition: color .1s;
    margin: 0 10px;
}

nav a:hover{
    color: orangered;
}

form p{
    text-align: center;
}

.login-flex{
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.btn-no-style{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    color: darkorange;
    font-weight: bold;
    font-size: 180%;
    transition: color .1s;
    margin: 0 10px;
    min-width: 0px;
}

.btn-no-style:hover{
    background: none;
    color: orangered;
}

.comment{
    margin: 4px 20px;
    border: 6px solid orange;
}

.comment-header{
    background-color: orange;
    padding: 6px;
}

.comment-content{
    padding: 10px;
}

.comment-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

textarea{
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.title-format {
    background-color: orange;
    border-radius: 8px;
    color: white;
    padding: 4px 8px;
    font-family: none;
    font-size: 200%;
    text-align: center;
    box-shadow: 4px 4px 4px lightgrey;
    width: 60%;
}

.dashboard-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blog-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px black solid;
    padding: 20px;
    border-radius: 8px;
}

.a-button{
    height: 30px;
    font-size: 20px;
}